.body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  height: 70%;
  border: solid 2px black;
  padding: 0 5%;
}

.saldo{
  font-size: 4vh;
  font-weight: 300;
  margin-bottom: -40px;
  
}

.amount{
  font-weight: 300;
  font-size: 4.5vh;
}

.question {
  font-size: 3.5vh;
}

.operation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 40%;

}

.menu{
  display: flex;
  justify-content:space-around;
  width: 100%;
  flex-wrap: wrap;
}
.menu a{
  width: 220px;
  margin: 15px 15px;
  text-decoration: none;
}
.menu button{
  width: 100%;
  box-shadow: -5px -5px 20px #393f4b, 5px 5px 20px black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.menu button:hover{
  box-shadow: -2px -2px 5px #393f4b, 2px 2px 5px black;
}
.menu button:active{
  box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px #393f4b;
}
