.body{
  height: 70vh;
  border: 1px solid violet;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.welcome{
  font-size: 4vh;
 
  margin-bottom: -60px;
}

.question {
  font-size: 3vh;
}

.operation {
  border: solid 1px red
}

.menu{
  border: solid 1px black;
  display: flex;
  justify-content:space-around;
  width: 60%;
  flex-wrap: wrap;
}
.menu a{
  width: 220px;
  margin: 15px 15px;
  text-decoration: none;
}
.menu button{
  width: 100%;
  box-shadow: -5px -5px 20px #393f4b, 5px 5px 20px black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.menu button:hover{
  box-shadow: -2px -2px 5px #393f4b, 2px 2px 5px black;
}
.menu button:active{
  box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px #393f4b;
}
