.loginMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 70vw;
  font-size: 2vw;
}

.loginBody {
  margin-top: 20px;
  padding: 3%;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  height: 70vh;
  width: 70vw;
}
.loginBody .buttons{
  display: flex;
  justify-content: space-between;
}
.buttons h2{
  font-size: 2.8vw;
  margin-top: 40% ;
}
.buttons a{
  width: 220px;
  margin: 15px 15px;
  text-decoration: none;
}
.buttons button{
  width: 100%;
  box-shadow: -5px -5px 20px #393f4b, 5px 5px 20px black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.buttons button:hover{
  box-shadow: -2px -2px 5px #393f4b, 2px 2px 5px black;
}
.buttons button:active{
  box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px #393f4b;
}

.buttons .disabled{
  background-color: gray;
  box-shadow: -2px -2px 5px #393f4b, 2px 2px 5px black;
}


.numbers{
  display: flex;
  justify-content: space-around;
  width: 40%;
  flex-wrap: wrap;
}

.number{
  width: 25%;
  height: 20%;
  padding: 16px;
  margin: 2%;
  font-weight: bold;
  box-shadow: -5px -5px 20px #393f4b, 5px 5px 20px black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 2vw;
  border-radius: 320px;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;

}

.borrar{
  color: red;
  font-size: large;
}
.continuar{
  display: flex;
  align-items: center;
  justify-content:center ; 
  padding: 0;
  color: green;
  font-size: large;
}
.continuar.disabled{
  background-color: gray;
  box-shadow: -2px -2px 5px #393f4b, 2px 2px 5px black;
}


.number:hover{
  box-shadow: -2px -2px 5px #393f4b, 2px 2px 5px black;
}
.number:active{
  box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px #393f4b;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 40%;
}


.Form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}


.label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

