.loginMain{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  width: 70vw;
  font-size: 2.5vw;
  margin: 1% 0;
}

.loginBody {
  border: solid 2px black;
  padding: 3% 3% 0 3%;
  display: flex;
  justify-content: space-around;
  width: 50vw;
  margin-bottom: 5%;
}


.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  width: 60%;
  /* border: black 1px solid; */
  font-size: 1.5rem;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
  width: 100%;
}

.subtitle {
  margin-bottom: 10%;
}
.input {
  border: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background-color: white;
  outline: none;
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #878a92, inset -10px -10px 10px  #FFF;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
  max-width: 300px;
}

.input:focus {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.newUser{
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
.newUser:hover{
  color: blue;
  cursor: pointer;
}

.submit{
  width: 45%;
  height: 20%;
  padding: 16px;
  margin: 2%;
  font-weight: bold;
  box-shadow: -5px -5px 20px #393f4b, 5px 5px 20px black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 1.1rem;
  border-radius: 320px;
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
}
.submit.disabled{
  background-color: gray;
  box-shadow: -2px -2px 5px #393f4b, 2px 2px 5px black;
}

.submit:hover{
  box-shadow: -2px -2px 5px #393f4b, 2px 2px 5px black;
}
.submit:active{
  box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px #393f4b;
}

.back {
  font-size: 1.1rem;
  margin-top: 2%;
}
.back:hover {
  color: blue;
  cursor: pointer;
}